#footer
	{padding-bottom: 1em;
	width: 100%;
	text-align: left;
	text-shadow: none;
	color: white;
	font-family: sans;
	background-color: black;
	display: block;}

#footer ul
	{list-style-type: none;
	display: inline-block;
	margin-bottom: 0px;}

#footer ul li
	{font-size: 0.8em;
	color: grey;}

#footer ul li:first-child
	{font-size: 1.1em;
	color: white;
	text-transform: uppercase;}

#footer a
	{color: grey;
	text-shadow: none;}

	
@media (max-width: 360px) {
	footer ul li:first-child
		{font-size: 0.9em;}
}
