header
	{background-image: url('../assets/splash.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 64px black inset;
	text-align: center;
	color: white;
	text-shadow: 0px 1px 1px black;}

#loginOrSignin
	{height: 25px;
	padding-top: 5px;
	width: 200px; 
	margin: auto;
        font-family: DejaVu, Sans, Arial;
        font-size: 0.9em;
        line-height: 1.5em;
	text-shadow: 0px 1px rgba(255,255,255,0.3);
	color: rgba(0,0,0,0.9);
	box-shadow: 0px 0px 5px black;
        border-radius: 0px 0px 1px 1px;
	background-image: url('../assets/concrete.png');}

#loginOrSignin a
	{text-shadow: 0px 1px rgba(255,255,255,0.3);
	color: rgba(0,0,0,0.9);
	letter-spacing: 2px;}

#loginOrSignin a:hover
	{text-shadow: 0px 1px rgba(0,0,0,0.6);
	color: white;}

@media (max-width: 360px) {
	header
		{background-size: 100%;}
}
