body
	{background-image: url('../assets/concrete.png');
	background-attachment: fixed;
	margin: 0px;}
a
	{outline: none;
	text-decoration: none;}

#searchEngine
	{position: absolute;
	background-image: url('../assets/concrete.png');
	top: 100%;
	z-index:3;
	box-shadow: 0px 0px 10px black;
	border-top: 1px solid rgba(255,255,255,0.25);
	left: 0px;
	width: 100%;
	text-align: center;
	height: 100px;}

#searchEngine input
	{display: block;
	margin-top: 30px;
	float: left;}

#searchEngine input:first-child
	{margin-left: 20%;}

#searchEngine input:nth-child(2)
	{margin-left: 1em;}

#searchEngine input[type=text]
	{display: block;
	height: 35px;
	width: 50%;
	background-color: rgba(0,0,0,0.3);
	border: none;
	border-radius: 1px;
	border-top: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding-left: 6px;
	padding-right: 6px;
	color: white;
	text-shadow: 0px 1px black;
	font-size: 1.125em;
	font-family: sans;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3) inset;
	color: rgba(255,255,255,0.8);}

#searchEngine input[type=submit]
	{width: 35px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 1px;
	border: none;
	display: block;
	margin-top: 29px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	border-top: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	background-image: url('../assets/magnify.png');
	height: 39px;}

#searchEngine input[type=submit]:hover
	{border-top: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	margin-top: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3) inset;}

#exhibitionType
	{position: absolute;
	box-shadow: 0px 0px 256px rgba(0,0,0,0.5) inset;
	top: 100%;
	left: 0%;
	display: block;
	width: 100%;
	min-height: 100%;
	z-index: 1;
	background-color: black;}

#exhibitionType a
	{text-shadow: 0px 1px rgba(255,255,255,0.3);
	color: rgba(0,0,0,0.9);}

#exhibitionType .wrapper
	{text-align: center;
	margin-top: 100px;
	text-shadow: 0px 1px rgba(255,255,255,0.3);
	color: rgba(0,0,0,0.9);
	border-top: 1px solid transparent;
	padding-bottom: 1.25em;
	background-image: url('../assets/concreteDarker.png');}


#exhibitionType .wrapper h1
	{font-family: Georgia;
	font-weight: lighter;
	text-transform: uppercase;
	color: rgba(0,0,0,0.9);
	letter-spacing: 0.25em;}

.exhibitionIconWrapper
	{display: inline-block;
	max-width: 320px;
	width: 240px;
	height: 240px;
	border-top: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px black;
	background-position: center center;
	margin: 1em;
	border-radius: 1px;
	transition: 0.125s ease all;}
			
.exhibitionIconWrapper h2
	{font-family: Georgia;
	font-weight: lighter;
	font-size: 1.33em;
	text-transform: uppercase;
	margin-top: 185px}

.exhibitionIconWrapper:hover
	{box-shadow: 0px 4px 12px black;}
	
#buttonPhotography
	{background-image: url('../assets/iconPhotography.png'), url('../assets/concrete.png');}

#buttonSculptAnd3D
	{background-image: url('../assets/iconSculptAnd3D.png'), url('../assets/concrete.png');}

#buttonPhonography
	{background-image: url('../assets/iconPhonography.png'), url('../assets/concrete.png');}

#buttonCinematography
	{background-image: url('../assets/iconCinematography.png'), url('../assets/concrete.png');}

#buttonComic
	{background-image: url('../assets/iconBD.png'), url('../assets/concrete.png');}



@media (max-width: 360px) {
	#searchEngine input:first-child
		{margin-left: 5%;}
	
	#searchEngine input[type=text]
		{width: 72%}

	#exhibitionType h1
		{font-size: 1.7em;}
}
