body
	{background-image: url('../assets/concrete.png');
	font-family: sans;
	font-weight: lighter;}

a
	{text-decoration: none;
	color: black;
	outline: none;
	text-shadow: 0px 1px 0px white;}

input[type=text], input[type=password], input[type=email]
	{border: none;
	border-bottom: 1px solid rgba(255,255,255,0.8);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.6) inset;
	font-size: 1.2em;
	width: 80%;
	text-shadow: 0px 1px white;
	padding: 5px;
	font-weight: lighter;
	color: black;}

input[type=submit]
	{background-color: rgba(0,0,0,0.1);
	border: none;
	border-top: 1px solid rgba(255,255,255,0.8);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);}

.wrapper
	{border: 1px dashed grey;
	display: block;
	margin-left: 25px;
	width: 200px;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 0px rgba(255,255,255,0.3) inset;}

header
	{width:250px;
	height:250px;
	background-color: rgba(255,255,255,0.3);
	display: block;
	margin: auto;
	border-top: 1px solid rgba(255,255,255,0.5);
	background-image:url('../assets/logoMinify.png');
	background-position: center center;
	box-shadow: 0px 3px 5px black;
	background-repeat: no-repeat;}

header .wrapper
	{height: 200px;
	margin-top: 25px;}

#content
	{display: block;
	width: 480px;
	margin: auto;
	color: rgba(0,0,0,0.8);
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	margin-top: -25px;
	box-shadow: 0px 3px 5px black;
	border-top: 1px solid white;
	border-bottom: 1px solid transparent;
	position: relative;
	z-index: 2;
	text-align: center;
	background-image: url('../assets/paper.png');}

#content a
	{text-decoration: underline;}

#content p, #content h1
	{margin-left: 5px;
	margin-right: 5px}

#content p
	{text-align: center;}

#content .wrapper
	{margin-top: 25px;
	padding-top: 1em;
	margin-bottom: 25px;
	width: 430px;
	padding-bottom: 1em;}

footer
	{width: 250px;
	height: 80px;
	display: block;
	margin: auto;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 0px 3px 5px black;}

footer .wrapper
	{height: 55px;
	text-align: center;}

footer a
	{margin-top: 17px;
	display: block;}

.notificationRedPaper
	{background-color: rgba(255,0,0,0.8);
	background-image: url('../assets/concreteAlpha.png');
	padding-top: 1em;
	padding-bottom: 1em;
	border: 1px solid rgba(0,0,0,0.3);
	color: white;
	text-shadow: 0px 1px 0px rgba(0,0,0,1);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5) inset, 0px 3px 3px rgba(0,0,0,0.5);}

.inputError
	{background-color: rgba(255,0,0,0.1);}

.inputNoError
	{background-color: rgba(0,0,0,0.1);}
